.login-container {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #333 url('https://keepersecurity.com/vault/images/vault_line_yellow.svg') no-repeat center;
    background-size: cover;
    display: flex;
}

.card-box {
    width: 350px; 
    margin: auto; 
}

.card-header {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%; 
    background-color: #ffc700
}

.card-header p {
    margin: 0; 
    text-align: center;
    font-size: 40px;
    font-weight: bold
}

.card-content fieldset{
    border-radius: 25px;
}

.card-content .username, .card-content .password{
    width: 100%;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.btn-login {
    margin: auto; 
    width: 93%; 
    background-color: #ffc700;
    color: #000;
    border-radius: 25px; 
    height: 50px
}

.text-login {
    color: #000; 
    text-decoration: none; 
    width: 100%; 
    height: 100%
}
